.flex{
    display: flex;
    
}
.between{
    justify-content: space-between;
}
.center{
    justify-content: center;
}
.align-itens{
    align-items: center;
}
.column{
    flex-direction: column;
}
.gap-1{
    gap: var(--gap-1);
}
.gap-4{
    gap: var(--gap-4);
}
.gap-6{
    gap: var(--gap-6);
}
.gap-7{
    gap: var(--gap-7);
}