.input-default{
    height: var(--input-text-height-default);
    width: max-content;
    border: 2px solid var(--color-grey-4);
    padding: 0 32px;
    font-weight: var(--font-weight-3);
    font-size: var(--font-text-1);
    background-color: var(--color-white);
    color: var(--color-grey-2);
    border-radius: var(--border-radius-2);
    cursor: pointer;
}

.input-default:focus{
    color: var(--color-grey-2);
    border-color: var(--color-brand-1)
    
}
.input-default-textArea{
    height: var(--input-textArea-height-default);
    width: max-content;
    border: 2px solid var(--color-grey-4);
    padding: 0 10px;
    font-weight: var(--font-weight-3);
    font-size: var(--font-text-1);
    background-color: var(--color-green-input);
    color: var(--color-grey-2);
    border-radius: var(--border-radius-1);
    cursor: pointer;
}
.input-default-textArea:focus{
    color: var(--color-grey-2);
    border-color: var(--color-brand-1)
}