header{
    height: 74px;
}
section{
    height: 100vh;
}
form{
    gap: var(--gap-5);
    width: 80vw;
    padding: 40px 20px;
    height: 385px;
    border-radius: var(--border-radius-1);
}
form > p{
    text-align: center;
}
.hidden{
    display: none;
}

@media(width > 425px){
    form{
        width: 340px;
    }
   
}
@media( width > 768px){
    .mt-1{
        margin-top: 110px
    }
}