header{
    height: 74px;
    position: sticky;
    top: 0;
}

.lg-rg{
    gap: var(--gap-5);
    width: 90vw;
    padding: 40px 20px;
    border-radius: var(--border-radius-1);
}

.lg-rg > p{
    text-align: center;
}
.hidden{
    display: none;
}
.container{
    width: 90vw;
    margin: 0 auto;
}
.postForm{
    position: relative;
}
.suggestions{
    margin-top: 100px;
}

ul{
    overflow-x: auto;
}
li{ 
   min-width: 200px;
}


@media(width > 425px){
    .lg-rg{
        width: 340px;
    }
   
}
@media( width > 768px){
    .mt-1{
        margin-top: 110px
    }
}